<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include ('partials/head.html')%>
</head>
<body>
    <%- include ('partials/navigation.html')%>

    <h1><marquee behavior="" direction="">ola</marquee></h1>
    <!-- con ejs podemos hacer operaciones dentro del html -->
    <p><%= 5 + 10 %></p>

    <div class="container text-xl-center">
        <img src="/img/sax.jpg" alt="tlacuache tocando sax">
    </div>
</body>
</html>