<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><marquee behavior="" direction="">ola</marquee></h1>
    <!-- con ejs podemos hacer operaciones dentro del html -->
    <p><%= 5 + 10 %></p>
</body>
</html>