<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid container">
      <a class="navbar-brand" href="/proyecto-fazt"><%= title %></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/proyecto-fazt">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/proyecto-fazt/almacen">Almacenes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Popo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Caca</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>